body{
	margin:0;
  }
  main{
	display:flex;
  }
  #firepad-container{
width: 100%;
height:100%;
font-size: 16px;

  }
   #output{
width: 100%;
height: 100vh;
font-size: 16px;
width: 100%;
    height:100%;
    font-size: 16px;
    outline: none;
    background: #4a014a;
    color: #1aef1a;
    font-weight: 900;
    border: none;
  }
     #input{
width: 100%;
height: 100vh;
font-size: 16px;
width: 100%;
    height:100%;
    font-size: 16px;
    outline: none;
    background: #4a014a;
    color: #1aef1a;
    font-weight: 900;
    border: none;
  }
     #expected-output{
width: 100%;
height: 100vh;
font-size: 16px;
width: 100%;
height:100%;
    font-size: 16px;
    outline: none;
    background: #4a014a;
    color: #1aef1a;
    font-weight: 900;
    border: none;

  }
  .content {
  display: none;
}

.content--active {
  display: block;
  width: 100%;
  height: calc(100% - 48px);
}

  .nav{
	background:#2a2b2e;
	height:100vh;
	width:56px;

  }
  .nav i{
	margin-top: 30px;
    color: rgb(232,234,237);
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    margin-left: 8px;
  }
  .nav i:hover{
  background:#616161;
  }
  /* form starting stylings ------------------------------- */
  .group 			  {
	position:relative;
	margin-bottom:45px;
  }
  input 				{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }

  /* LABEL ======================================= */
  label 				 {
	color:#999;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:#5264AE;
  }

  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#5264AE;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
  }
  .bar:before {
	left:50%;
  }
  .bar:after {
	right:50%;
  }

  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
  }



  .select-dropdown,
  .select-dropdown * {
	  margin: 0;
	  padding: 0;
	  position: relative;
	  box-sizing: border-box;
  }
  .select-dropdown {
	  position: relative;
	  background-color: #E6E6E6;
	  border-radius: 4px;
  }
  .select-dropdown select {
	  font-size: 1rem;
	  font-weight: normal;
	  max-width: 100%;
	  padding: 8px 24px 8px 10px;
	  border: none;
	  background-color: transparent;
		  -webkit-appearance: none;
		  -moz-appearance: none;
	  appearance: none;
  }
  .select-dropdown select:active, .select-dropdown select:focus {
	  outline: none;
	  box-shadow: none;
  }
  .select-dropdown:after {
	  content: "";
	  position: absolute;
	  top:50%;
	  right: 8px;
	  width: 0;
	  height: 0;
	  margin-top: -2px;
	  border-top: 5px solid #aaa;
	  border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
  }


   .h2 {
	   position: relative;
	   top: 150px;
	   right: 75px;
  }

.ace_search.right{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: white;
color:black;
  border-right:none;
  border:1px solid #adadad;
  border-radius:18px;
}


.ace_search_form, .ace_replace_form{
  margin: 40px 20px 4px 0;
}
.ace_search_field{
  background-color: #bb86fc;
  color: black;
  border: 1px solid #bb86fc;
	  margin-bottom: 2em;
	  border-radius: 15px;
	  padding:4px;
}
.ace_searchbtn{
  margin-left: 1em;
}
.prev{
  border-radius: 50%;
  padding:none;
  border: 2px solid black;
  background:white !important;
}
.next{
  border-radius: 50%;
  padding:none;
  border: 2px solid black;
  background:white !important;
}
.ace_search_options{
  margin-top: 30px;
  margin-bottom: 30px;
}
.ace_searchbtn{
  border-radius: 5px;
  background: #6200ee;
  padding:5px 20px;
  font-family: Roboto , sans-serif;
  font-weight: 500;
  color:white;
}

.ace_searchbtn:hover{
  color:#6200ee;
  border:1px solid #6200ee;
}
#statusBar {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	background-color: rgb(245, 245, 245);
	color: gray;
}
.ace_status-indicator {
	color: gray;
	position: absolute;
	right: 0;
	border-left: 1px solid;
}

.chat{
  justify-content: flex-end !important;
  margin-right: 20px;

}
.mdc-dialog__surface{
  height: 100%;
}
.powered-by-firepad{
  display:none !important;
}
.mdc-dialog__surface{
  margin-right: 30px;
}
.svelte1526{
    display: flex;
    position: absolute;
    padding: 8px;
    color: #f5f2f2;
    bottom: 45px;
    background: #3a3a3a;
    border-radius: 8px;
  
    left: 50%;
}
.run{
position: absolute !important;
top:70px;
right:50px;
}
.svelte1526 i{
margin:4px;
padding:4px;
border-radius:50%;
}
.svelte1526 i:hover{
background:#616161;
}
